.Title_Jocuri_Mobile_Section,
.Title_Aplicatii_Mobile_Section {
	font-size: 35px;
	font-family: 'Noto Sans JP', sans-serif;
	font-size: 32px;
	letter-spacing: 5.4px;
	word-spacing: 5.6px;
	color: white;
	font-weight: 400;
	text-shadow: 1px -1px 0 #767676, -1px 2px 1px #737272, -2px 4px 1px #767474,
		-3px 6px 1px #787777, -4px 8px 1px #7b7a7a, -5px 10px 1px #7f7d7d,
		0px 12px 12px rgba(44, 168, 255, 0);
	text-shadow: 0px 11px 14px #1a4075;
}
.Hero_Image_Container_Jocuri_Mobile,
.Hero_Image_Container_AppMobile {
	margin-top: 0;
	margin-bottom: 0;
	margin-right: 15px;
	max-width: 500px;
	margin-left: 15px;
}
.Container_Buttons_Jocuri_Section,
.Container_Buttons_Aplicatii_Mobile_Section {
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	/* padding-top: 90px; */
	background-color: rgba(0, 0, 0, 0.24);
	border-radius: 10px;
}
.Jocuri_Section {
	max-width: 561px;
	height: auto;
	display: flex;
	flex-direction: column;
}
.Container_Buttons_Jocuri_Section button,
.Container_Buttons_Aplicatii_Mobile_Section button {
	width: 15em;
	height: 3em;
	color: white;
	font-size: larger;
	background-color: #c211a1;
	border-radius: 5px !important;
	margin: 10px;
}
.Jocuri_Mobil_Text_Subtitle_In_Button_Programare_Web,
.Realitate_Virtuala_Text_Subtitle_In_Button_Programare_Web,
.Realitate_Augmentata_Text_Subtitle_In_Button_Programare_Web {
	max-width: 100%;
	height: auto;
}
.Jocuri_Mobile_Sub_Subtitle_In_Button_Programare_Web,
.Realitate_Virtuala_Subtitle_In_Button_Programare_Web,
.Realitate_Augmentata_Subtitle_In_Button_Programare_Web {
	width: 100%;
	height: auto;
	font-size: 136%;
	font-family: 'Noto Sans JP', sans-serif;
	text-align: center;
	color: white;
	/* text-decoration: underline; */
}

.Sanatate_Section {
	max-width: 561px;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.Sanatate_Text_Subtitle_In_Button_Web_Design,
.Medicale_Text_Subtitle_In_Button_Web_Design,
.Sportive_Text_Subtitle_In_Button_Web_Design,
.Publice_Text_Subtitle_In_Button_Web_Design {
	width: 100%;
	height: auto;
}
.Sanatate_Text_Sub_Subtitle_In_Button_Web_Design,
.Medicale_Text_Sub_Subtitle_In_Button_Web_Design,
.Sportive_Text_Sub_Subtitle_In_Button_Web_Design,
.Publice_Text_Sub_Subtitle_In_Button_Web_Design {
	width: 100%;
	height: auto;
	font-size: 136%;
	font-family: 'Noto Sans JP', sans-serif;
	text-align: center;
	color: white;
	/* text-decoration: underline; */
}
