.backgroundImg-Main{
    background-image: url(background-img/1-background-MAIN-Part-Pag.jpg);
    background-repeat: no-repeat;
    //position: relative;
    // position: absolute;
    // left: 0px;
    // top: 0px;
    // z-index: -1;
    height: 1152px;
    width: 100%;
    
}
.backgroundImg-Home{
    background-image: url(background-img/2-background-img-HOME-Part-Pag.jpg);
    background-repeat: no-repeat; 
    //position: relative;
    // position: absolute;
    // left: 0px;
    // top: 0px;
    // z-index: -1;   
    width: 100%;
    height: 800px ;
}
// .buttonsToFloatOnTopEverything{
//     display: grid;
//     grid-row: 10;
//     grid-column: 10;
// }
// .buttonsToFloatOnTopEverything{
//     display: grid;
//     grid-template-columns: 300px 1fr 300px;
//     grid-template-rows: repeat(3,auto);
//     grid-area: 
//     "logo-area                       singInSignUp-area"
//     "navigation-area    imagin-area                   "
//     "                   mouse-area     translate-area";
// }
// .logo{
//     grid-area: logo-area;
// }
// .logInSingUp{
//     grid-area: singInSignUp-area;
// }
// .navigationButtons{
//     grid-area: navigation-area;
// }
// .mainPage{
//     grid-area: imagin-area;
// }
// .iconScrollMouse{
//     grid-area: mouse-area;
// }
// .arrowScrollUp.translateSite.socialMedia{
//     grid-area: translate-area;
// }
// .translateSite{
//     grid-area: translate-area;
// }
// .socialMedia{
//     grid-area: translate-area;
// }