.contactPageSection{
    background-color: rgba(240, 230, 140, 0);
    width: auto;
    height: 1075px;
    // position: relative;
    display: flex;
    justify-content: center;
    display: grid;
    grid-gap: 3px;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr;
}
.contactCostumerService{
    position: relative;
    background-color: rgba(255, 0, 0, 0);
    margin-top: 50px;
    grid-column: 2/3;
    grid-row: 2/3;
    display: grid;
    grid-gap: 3%;
    grid-template-rows: 1fr 1fr 1fr;
}





/*modific  .contactPageContactCostumerService care cuprinde :

<p>Costomer Service</p>
<h1>Contact</h1>
<p>Lorem Ipsum Lorem Ipsum Lorem Ipsum Ipsum Lorem Ipsum</p> */


.contactPageContactCostumerService{
    background-color: rgba(255, 230, 0, 0);

    grid-row: 1/2;
    text-align:justify;
}
.contactPageContactCostumerService p{
    color: rgb(204, 202, 202);
    font-size: 25px;   
    font-family: Arial, Helvetica, sans-serif;
}
.contactPageContactCostumerService h1{
    color: whitesmoke;
    margin-left: 40px;
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
}
.contactPage-Questions-Details-Paragraph{
    margin-left: 20px;
    
}

/*acum modificam contactPageForm care cuprinde:
nimic
*/
.contactPageForm{
    background-color: rgba(72, 255, 0, 0);
    
    grid-row: 2/3;
}
/*acum modificam contactPageContactSpace-AddressSpace care cuprinde:
nimic
*/
.contactPageContactSpace-MessageSpace{
    background-color: rgba(0, 255, 200, 0);
    
    width: auto;
    height: auto;
    display: grid;
    grid-gap: 3%;
    grid-template-columns: 1fr 1fr;
}

/*modific contactPageContactCallEmail care cuprinde:
<h5>Contact</h5>
<label>Call:</label>
<input type="tel" name="telefon">
<label>E-mail:</label>
<input type="email" name="email">

*/
.contactPageContactCallEmail{
    background-color: rgba(38, 0, 255, 0);

    grid-column: 1/2;
    width: auto;
    height: 100%;
}
.contactPageContactCallEmail h5{
    margin-left: 20%;
    color: rgb(204, 202, 202);
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
}
.contactPageContactCallEmail label{
    color: rgba(245, 245, 245, 0.664);
    font-family:Lucida Sans Unicode;
    font-family: "Helvetica Neue", "Arial";
}
.contactPageContactCallEmail [type]{
    margin-bottom: 25px;
    background: linear-gradient(150deg
    , #00e1ff75
    , #0004ff49
    );
    border-radius: 10px;
    border: none;

}
.contactPageContactCallEmail [type='tel']{
    width: 59%;
    height: 20px;
    color: rgb(255, 255, 255);
}
.contactPageContactCallEmail [type='email']{
    width: auto;
    height: 20px;
    color: rgb(255, 255, 255);

}
/*modific contactPageAddressTextarea adica :
<label>Address</label>
<textarea name="mesaj" rows="6" cols="31">
Va rugam nu dormiti la cursuri</textarea>
*/
.contactPageMessageTextarea{
    background-color: rgba(247, 0, 255, 0);
    width: auto;
    height: auto;
    grid-column: 2/3;
    
}
.contactPageMessageTextarea h5{
    margin-left: 35%;
    color: rgb(204, 202, 202);
    font-size: 25px;
    font-family:"Arial";
    // margin-bottom: 5px;
}
.contactPageMessageTextarea [name='mesaj']{
    color: rgb(255, 255, 255);
    background: linear-gradient(200deg
    , #00e1ff75
    , #0004ff49
    );   
    border: none;
    border-radius: 5px;
    font-size: 15px;
}

.contactPageSubmitButton{
    background-color: rgba(197, 109, 109, 0);
    
    grid-row: 3/4;
    height: 30%;
    
}
.contactPageSubmitButton [type="submit"]{
    width: auto;
    height: 65%;
    border: 2px solid rgb(47, 105, 230);
    border-radius: 50px 20px;
    background: linear-gradient(150deg
    , #00e1ff75
    , #0004ff49
    );
}
.contactPageSubmitButton [value="Trimite Mesajul"]{
    font-size: 20PX;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgba(245, 245, 245, 0.692);
    
}



