
/*wee tell the page 1st step to have out a margin because we need the background img to start from corner left up*/
*{
    margin: 0;
}


/*put a img with position absolute bo be cover and no repeat a width and a height to stretch the image to its extremity */
.arrangeBackgroundImg{
    width: 100%;
    height: 100%;
    display: grid;
    grid-gap: 20px blue;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.mainPage{
    grid-row: 1/2;
    height: 1000px;
    width: 100%;
    background-image: url(background-img/1-background-MAIN-Part-Pag.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.homePage{
    grid-row: 2/3;
    height: 1000px;
    width: 100%;
    background-image: url(background-img/2-background-img-HOME-Part-Pag.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.aboutPage{
    grid-row: 3/4;
    height: 1000px;
    width: 100%;
    background-image: url(background-img/3-background-img-About-Part-Pag.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.servicePage{
    grid-row: 4/5;
    height: 1000px;
    width: 100%;
    background-image: url(background-img/4-background-img-Services-Part-Pag.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
}
.projectsPage{
    grid-row: 5/6;
    height: 1000px;
    width: 100%;
    background-image: url(background-img/5-background-img-Projects-Part-Pag.webp);
    background-size: cover;
    background-repeat: no-repeat;
}
.registerPage{
    grid-row: 6/7;
    height: 1000px;
    width: 100%;
    background-image: url(background-img/6-background-img-Register-Part-Pag.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.contactPage{
    grid-row: 7/8;
    height: 1000px;
    width: 100%;
    background-image: url(background-img/7-background-img-Contact-Part-Pag.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}