.divCuPeuri6{
    display: flex;
    justify-content: center;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr;
}
.peuri6{
    height: 150%;
    width: 150%;
    background-color: rgba(139, 69, 19, 0.376);
    margin-top: 25%;
    grid-column: 2/3;
    grid-row: 2/3;
    display: grid;
    grid-gap: 50%;
    grid-template-rows: 1fr 1fr;
}
.unu6{
    height: 100%;
    width: 100%;
    grid-row: 1/2;

}
.doi7{
    height: 100%;
    width: 100%;
    grid-row: 2/3;

}