.divCuPeuri1{
    display: flex;
    justify-content: center;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr;
}
.peuri1{
    grid-column: 2/3;
    grid-row: 2/3;
    display: grid;
    grid-gap: 10%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.logo2{
    width: 65%;
    grid-column: 1/2;
    grid-row: 1/2;
}
.logo1{
    width: 130%;
    grid-column: 2/3;
    grid-row: 1/2;
}
.mottoSiteHomePage{
    margin-left: 70%;
    width: 100%;
    font-size: 20px;
    grid-column: 1/2;
    grid-row: 2/3;
    font-weight: bold;
    color: rgb(34, 143, 216);
}