/*tell the division to be a grid, we put rows and columns to put the elements where we won't*/

.mainPageTop{
    //background-color: rgba(0, 0, 0, 0.397);
    position: fixed;
    width: 100%;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr;
    /*a little exercise with display flex to see that it works and works*/
    // display: flex;
    // justify-content: space-between;
}


/*logo section arrange the logo*/

.logoSection{
    //background-color: rgba(0, 0, 0, 0.397);
    width: 100%;
    grid-column: 1/2;
    grid-row: 1/2;
}
.logo{
    // background-color: rgba(0, 0, 0, 0.123);
    margin-top: 0;
    margin-left: 5%;
    width: 50%;
}


/*search bar section arrange the search bar*/

.searchBarSection{
    
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 25px;
    /*we see this background color in many division`s to see exactly where and what happens with that division*/
    //background-color: rgb(122, 121, 121);
    width: 100%;
    height: auto;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 5px 100px;
}
.searchBar{
    background: linear-gradient(150deg
    , #1900ff49
    , #1100ff2a
    , #00b7ff2a
    , #00aeff75
    );
    border: none;
    border-radius: 15%;
    background-color: rgba(138, 18, 18, 0.479);
    grid-column: 1/2;
    height: 25px;
}
.buttonSearch{
    background: linear-gradient(150deg
    , #00e1ff75
    , #0004ff49
    );
    border-radius: 30%;
    border: none;
    background-color: rgba(138, 18, 18, 0.479);
    grid-column: 3/4;
    height: 30px;
}


/*Log In / Sign Up  section arrange the Log In / Sign Up*/

.logInSignUp{
    padding-right: 0;
    grid-column: 3/4;
    grid-row: 1/2;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 100px 1fr 100px;
    width: 40%;
    height: 30px;
    //background-color: rgb(122, 121, 121);
    margin-top: 25.5px;
    margin-left: 50%;
}
.logIn{
    background: linear-gradient(right
    , #00e1ff75
    , #0004ff49
    );
    border-radius: 30%;
    border: none;
    background-color: rgba(138, 18, 18, 0.479);
    grid-column: 2/3;
    width: 100%;
}
.signUp{
    background: linear-gradient(left
    , #00e1ff75
    , #0004ff49
    );
    border-radius: 30%;
    border: none;
    background-color: rgba(138, 18, 18, 0.479);
    width: 100%;
    grid-column: 4/5;
}


/*Navigation buttons section arrange the Navigation buttons section*/

.navigationButtonsSection{
    grid-column: 1/2;
    grid-row: 2/3;
}
.navigationButtons{
    align-items: center;
    margin-left: 10%;
    margin-top: 15%;
    margin-bottom: 10%;
    display: grid;
    grid-gap: 20px;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.Home.button{
    color: blue;
    grid-row: 1/2;
}
.About.button{
    grid-row: 2/3;
}
.Services.button{
    grid-row: 3/4;
}
.Projects.button{
    grid-row: 4/5;
}
.Register.button{
    grid-row: 5/6;
}
.Contact.button{
    grid-row: 6/7;
}


/*Icon scroll mouse arrow section arrange the Icon scroll mouse arrow overall*/

.iconScrollMouseArrowSection{
    //margin-top: 15%;
    //background-color: rgb(122, 121, 121);
    grid-column: 2/3;
    grid-row: 3/4;
    display: flex;
    flex-direction: row;
    height: 40%;
    align-items: center;
}
.iconScrollMouse{
    //background-color: rgb(95, 94, 94);
    margin-left: 30%;
    //width: 50%;
    height: 70%;
}
.iconScrollMouse label{
    color: rgb(34, 143, 216);
    font-size: 20px;
    font-weight: bold;
    //background-color: rgb(236, 3, 3);
    margin-left: 64%;
}
.iconScrollMouse img{
    
    //background-color: rgba(0, 0, 0, 0.397);
    width: 20%;
    margin-top: 15%;
    margin-left: 70%;
    height: 60%px;
}
.arrowScrollUp{
    
    //background-color: rgb(22, 22, 22);
    width: 30%;
}
.arrowScrollUp img{
    border: none;

    border-radius: 50%;
    //background-color: rgb(255, 5, 5);
    // background: linear-gradient(left
    // , #00e1ff75
    // , #0004ff49
    // );
    height: 30%;
    width: 40%;
}
.arrowScrollUp button{
    color: rgb(34, 143, 216);
    background-color: rgba(255, 0, 0, 0);
    width: 45%;
    height: 30%;
    margin-top: 15%;
    margin-left: 250%;
    border-radius: 50%;
    border: none;
}
.arrowScrollUp label{
    font-size: 15px;
    font-weight: bold;

}


/*Translate site section arrange the Translate site*/

.translateSiteSection{
    //background-color: rgb(82, 80, 80);
    height: 145px;
    margin-left: 49%;
    //margin-top: %;
    grid-column: 3/4;
    grid-row: 3/4;
    width: 50%;
}
.translateSite button{
    background: linear-gradient(300deg
    , #1900ff49
    , #1100ff2a
    , #00b7ff2a
    , #00aeff75
    );
    border: none;
    //background-color: rgba(0, 0, 0, 0.397);
    //background-color: rgba(94, 93, 93, 0);
}
.translateSite button{
    background: linear-gradient(300deg
    , #1900ff49
    , #1100ff2a
    , #00b7ff2a
    , #00aeff75
    );
}
.translateSite .translateEN{
    //background-color: rgb(58, 58, 58);
    margin-left: 3%;
}
.translateSiteSection img{
    width: 20%;
    //background-color: rgb(22, 22, 22);
    margin-right: 10%;
}


/*Founders section arrange the Founders*/

.foundersSection{
    
    height: 100%;
    display: flex;
    justify-content: center;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr;
}
.founers{
    
    //margin-top: 5%;
    grid-column: 2/3;
    grid-row: 2/3;
    align-items: center;
    display: flex;
    justify-content: center;
    display: grid;
    grid-gap: 100px;
    grid-template-columns:  350px 350px 350px;
    grid-template-areas: 
    "andrei-area   robert-area   momoa-area";
}
.AndreiSoporean{
    border-radius: 20%;
    border: solid 5px rgba(192, 192, 192, 0.26);
    grid-area: andrei-area;
}
.RobertDiaconeasa{
    border-radius: 20%;
    border: solid 5px rgba(192, 192, 192, 0.26);
    grid-area: robert-area;
}
.JasonMomoa{
    border-radius: 20%;
    border: solid 5px rgba(192, 192, 192, 0.26);
    grid-area: momoa-area;
}

