.cont1{
    background-color: rgb(142, 133, 197);
    color: red;
}
*{
    margin: 0;
}
.middleMiddle img{
    border-radius: 10%;
    float: left;
    height: 200px;
    padding-top: 0;
    // transform: skewY(10deg);
}
.middleMiddle{
    
}