.aboutUsContainer {
	width: 80%;
	height: 100%;
}
.About_Us_Titlu {
	/* font-family: 'Noto Sans JP', sans-serif; */
	font-size: 2rem;
	letter-spacing: 2.2px;
	word-spacing: 2.2px;
	color: white;
	font-weight: normal;
	font-style: italic;
	font-variant: normal;
	text-transform: none;
}

.About_Us_SubTitlu_h3 {
	font-family: 'Noto Sans JP', sans-serif;
	letter-spacing: 2.2px;
	word-spacing: 2.2px;
	color: white;
	font-weight: normal;
	text-decoration: none solid rgb(68, 68, 68);
	font-style: normal;
	font-variant: normal;
	text-transform: none;
}

.About_Us_SubTitlu_h5 {
	font-family: 'Noto Sans JP', sans-serif;
	letter-spacing: 2.2px;
	word-spacing: 2.2px;
	color: white;
	font-weight: 700;
	text-decoration: underline solid rgb(68, 68, 68);
	font-style: normal;
	font-variant: small-caps;
	text-transform: capitalize;
}

.About_Usi_Content_TXt_h3 {
	font-family: 'Noto Sans JP', sans-serif;
	letter-spacing: 1.6px;
	word-spacing: 1.6px;
	color: white;
	font-weight: 700;
	text-decoration: none solid rgb(68, 68, 68);
	font-style: italic;
	font-variant: small-caps;
	text-transform: none;
}

.About_Us_Spatiere_Span {
	margin-left: 50px;
}

.About_Us_Evidentiere_cuvinte_Span {
	background-color: rgba(149, 210, 238, 0.288);
	font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
	font-size: 30px;
	letter-spacing: 2.5px;
	word-spacing: 0px;
	color: rgb(255, 255, 255);
	font-weight: 900;
	font-style: normal;
	font-variant: small-caps;
	text-transform: capitalize;
	text-decoration: underline solid rgb(0, 174, 255);
}
